.user-wallet {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.gas {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.highlight-color {
    color: '#5395c9';
}

.table-footer {
    text-align: center;
    padding: 1rem 0 1rem 0 !important;
}

.link-selector {
    text-align: center !important;
    color: white !important;
}

.link-selector:hover {
    color: #5395c9 !important;
    text-decoration: none !important;
}

.emoticon-container {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

.emoticon-button {
    text-align: center !important;
    font-weight: 700 !important;
    text-decoration: none !important;
    background-color: transparent;
    padding: 0;
}

.gas-tracker {
    width: 100%;
    display: flex;
    padding: 2rem;
}