.blocks-header {
    padding: 4rem 3rem 3rem 3rem !important;
    display: flex;
    align-items: center;
}

.blocks-body {
    padding: 0 3rem 2rem 3rem !important;
    display: flex;
    align-items: center;
}

.highlight-color {
    color: #5395c9;
    font-weight: 700;
}

.block-selector {
    text-align: center !important;
    color: #5395c9 !important;
    font-weight: 700 !important;
    text-decoration: none !important;
    background-color: transparent;
    padding: 0;
}

.block-selector:hover {
    background-color: transparent;
}