.selectChannel-title
{    
    height:50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.selectChannel-button
{
    text-align: center;
    width:200px;
    height: 150px;
    background-color:#eee;

    border: 1px solid;
    border-color:#ddd;
    border-radius: 20px;
    
    margin-top:auto;
    margin-bottom:auto;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.selectChannel-button:hover
{
    background-color:#ccc;
}

.selectChannel-button:active
{
    background-color:#999;
}

.selectChannel-content
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    height: 250px;
    
}


.modal-button-close
{
margin-left: auto; 
margin-right: 20px;
margin-top: 20px;
}

.modal-button-close:hover
{
background-color: #ddd
}

.modal-button-close:active
{
background-color: #999
}

.selectRegion-title
{
    
  height:100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.selectRegion-content
{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    text-align: center;
    width: 600px;
    height: 380px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.selectRegion-button
{
    background-color:#eee;    

    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: left;

    width: 46%;
    line-height: 30px;
    padding: 10px;
    padding-left: 30px;
    margin: 5px;
    
    border-radius: 10px;
}

.selectRegion-button:hover
{
    background-color:#ddd;
    
}
.selectRegion-button:active
{
    background-color:#999;
}

.flag-icon
{
  font-size: 25px;
}

.fa-xmark
{
  font-size: 20px;
}

.text-blue
{
    color:blue;

}

.iconFont {
    font-size:50px;
}
